QCheckBox {

}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    border-radius: 10px;  /* Half of width/height to make it a circle */
    border: 2px solid #999999;
    background-color: #ffffff;  /* Unchecked color */
}

QCheckBox::indicator:checked {
    background-color: #4CAF50;  /* Checked color */
    border-color: #4CAF50;
}