QCheckBox {

}

QCheckBox::indicator {
    width: 16px;
    height: 16px;

    border: 2px solid #444444;
    background-color: #ffffff;  /* Unchecked color */
}

QCheckBox::indicator:checked {
    background-color: #94ff97;  /* Checked color */
    border-color: #4CAF50;
}